# Python
__pycache__/
*.py[cod]
*.class
.venv/
env/
venv/
*.spec
dist/
build/
active_campaign.txt

# Node / Web
node_modules/
.next/
out/
package-lock.json

# Database & OS
.vscode/
.idea/
.DS_Store?
*.sqlite3
*.db

# Temporary
scratch/
